@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;700;900&family=Poppins:wght@100;300;400;500;700;900&family=Roboto:wght@300;400;500;700;900&family=Ubuntu:wght@300;400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}
.max-width{
    max-width: 100%;
    padding: 0 80px;
    margin: auto;
}
.max-width1{
    max-width: 100%;
    width: 100%; 
    margin: 0px;
}
::-webkit-scrollbar {
    width: 7px;
}
::-webkit-scrollbar-track {
    background: black;
    border-radius: 2px;
    box-shadow: 5px 5px 10px #ccc insert, -5px -5px 10px white insert;
}
::-webkit-scrollbar-thumb {
    background: #e6f6e6;
    border-radius: 2px;
/*    border-left: 1px solid black;*/
    border-right: 1px solid black;
}
::-webkit-scrollbar-thumb:hover {
    background: #a2b7b0;
}

/** navbar styling **/
.navbar{
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 30px 0;
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.3s ease;
}
.navbar.sticky{
    padding: 15px 0;
    background: crimson;
}
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a{
    color: white;
    font-size: 35px;
    font-weight: 600;
}
.navbar .logo a span{
    color: crimson;
    transition: all 0.3s ease;
}
.navbar.sticky .logo a span{
    color: white;
}
.navbar .menu li{
    list-style: none;
    display: inline-block;
}
.navbar .menu li a{
    display: block;
    color: white;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}
.navbar .menu li a:hover{
    color: crimson;
}
.navbar.sticky .menu li a:hover{
    color: white;
}

/** menu btn styling **/
.menu-btn{
    color: white;
    font-size: 23px;
    cursor: pointer;
    display: none;
}

/* Right Bottom Snackbar - icons notice */
#snackbar{
    width: 225px;
    height: 48px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 12px;
    background-color: #333;
    color: #fff;
    text-align: start;
    position: fixed;
    z-index: 1000;
    right: 15px;
    bottom: 15px;
    font-size: 14px;
    font-family: sans-serif;
    border-radius: 6px;
    visibility: hidden;
}
#snackbar2{
    width: 225px;
    height: 48px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 12px;
    background-color: #333;
    color: #fff;
    text-align: start;
    position: fixed;
    z-index: 1000;
    right: 15px;
    bottom: 75px;
    font-size: 14px;
    font-family: sans-serif;
    border-radius: 6px;
    visibility: hidden;
}
#snackbar.show{
    visibility: visible;
    animation: fadein-rb 1s;
    animation-fill-mode: forwards;
}
#snackbar.bye{
    visibility: visible;
    animation: fadeout-rb 0.5s;
    animation-fill-mode: forwards;
}
#snackbar2.show{
    visibility: visible;
    animation: fadein-rb2 1s;
    animation-fill-mode: forwards;
}
#snackbar2.bye{
    visibility: visible;
    animation: fadeout-rb2 0.5s;
    animation-fill-mode: forwards;
}
@keyframes fadein-rb{
    0%{
        right: -250px;
        bottom: -250px;
        opacity: 0;
    }
    50%{
        right: 60px;
        bottom: 60px;
        opacity: 1;
    }
    100%{
        right: 15px;
        bottom: 15px;
        opacity: 1;
    }
}
@keyframes fadeout-rb{
    from{
        right: 15px;
        bottom: 15px;
        opacity: 1;
    }
    to{
        right: -250px;
        bottom: -250px;
        opacity: 0;
    }
}
@keyframes fadein-rb2{
    0%{
        right: -250px;
        opacity: 0;
    }
    50%{
        right: 60px;
        opacity: 1;
    }
    100%{
        right: 15px;
        opacity: 1;
    }
}
@keyframes fadeout-rb2{
    from{
        right: 15px;
        opacity: 1;
    }
    to{
        right: -250px;
        opacity: 0;
    }
}

/** scroll up btn styling **/
.scroll-up-btn{
    position: fixed;
    height: 40px;
    width: 40px;
    background: crimson;
    text-align: center;
    align-items: center;
    right: 30px;
    bottom: 10px;
    line-height: 45px;
    color: white;
    z-index: 999;
    border-radius: 6px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}
.scroll-up-btn.show{
    bottom: 30px;
    opacity: 1;
    pointer-events: auto;
}
.scroll-up-btn img{
    width: 55%;
}

/** home section styling **/
.home{
    display: flex;
    background: url("images/bg/full-bg-2.png") no-repeat center;
    height: 100vh;
    min-height: 500px;
    color: white;
    font-family: 'Ubuntu', sans-serif;
}
.home .max-width{
    margin: auto 0 auto 40px;
}
.home .home-content #hire-me:hover > #home{
    background-image: url("images/profile-2-liel.jpg");
}
.home .home-whisps-container{
    width: 100%;
    height: 100%;
    pointer-events: none;
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
}
.home .home-content .text-1{
    font-size: 27px;
    z-index: 2;
}
.home .home-content .text-2{
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
    z-index: 2;
}
.home .home-content .text-3{
    font-size: 40px;
    margin: 5px 0;
    z-index: 2;
}
.home .home-content .text-3 .typing{
    color: crimson;
    font-weight: 500;
    z-index: 2;
}
.home .home-content a{
    display: inline-block;
    background: crimson;
    color: white;
    font-size: 25px;
    padding: 12px 36px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid crimson;
    transition: all 0.3s ease;
}
.home .home-content a:hover{
    color: crimson;
    background: none;
}

/** rubberBand effect styling **/
.rubber-band{
    display: flex;
}
.band-hover{
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-iteration-count: 1;   
}
.band-hover:hover{
    color: blueviolet;
    animation-name: rubberBand;
}
@keyframes rubberBand {
    from {
        transform: scale3d(1, 1, 1);
    }
    30% {
        transform: scale3d(1.25, 0.75, 1);
    }
    40% {
        transform: scale3d(0.75, 1.25, 1);
    }
    50% {
        transform: scale3d(1.15, 0.85, 1);
    }
    65% {
        transform: scale3d(0.95, 1.05, 1);
    }
    75% {
        transform: scale3d(1.05, 0.95, 1);
    }
    to {
        transform: scale3d(1, 1, 1);
    }
}
.rubberBand {
    -webkit-animation-name: rubberBand;
    animation-name: rubberBand;
}

/** general section styling **/
section{
    padding: 100px 0;
}
section .title{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
}
section .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 200px;
    height: 3px;
    background: #111;
    transform: translateX(-50%);
}
section .title::after{
    position: absolute;
    bottom: -13px;
    left: 50%;
    font-size: 20px;
    color: crimson;
    padding: 5px;
    background: white;
    transform: translateX(-50%);
}

/** mutual styling **/
.about, .services, online-courses, .skills, .projects, .contact, footer{
    font-family: 'Poppins', sans-serif;
}
.about .about-content, 
.services .services-content,
.online-courses .online-courses-content,
.skills .skills-content,
.contact, .contact-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.services, .online-courses, .projects{
    color: white;
    background: #111;
}
.services .title::before, 
.online-courses .title::before, 
.projects .title::before{
    background: white;
}
.services .title::after, 
.online-courses .title::after, 
.projects .title::after{
    background: #111;
}

/** about section styling **/
.about .title::after{
    content: "who i am";
}
.about .about-content .left{
    width: 45%;
}
.about .about-content .left img{
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 6px;
}
.about .about-content .right{
    width: 55%;
}
.about .about-content .right .text{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}
.about .about-content .right .text span{
    color: crimson;
}
.about .about-content .right p{
    text-align: justify;
}
.about .about-content .right #smaller-text{
    padding: 0;
    margin: 0;
    opacity: 0.85;
    font-size: 14px;
}
.about .about-content .right #k-shoa{
    text-underline-position: below;
    text-decoration: underline;
}
.about .about-content .right #cv-btn{
    display: inline-block;
    background: crimson;
    color: white;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid crimson;
    transition: all 0.3s ease;
}
.about .about-content .right #cv-btn:hover{
    color: crimson;
    background: none;
}

/** projects section styling **/
.projects .title{
    margin-bottom: 40px;
}
.projects .title::after{
    background: #222;
    content: "what i've done";
}
.projects-filter-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    list-style: none;
}
.projects-filter-nav li {
    width: 125px;
    height: 50px;
    transition: background-position 0.9s linear;
    text-align: center;
    font-size: 16px;
    color: #777;
    text-decoration: none;
    transition: all 0.45s;
}
.projects-filter-nav li:hover {
    background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPHN2ZyB2ZXJzaW9uPSIxLjEi%0D%0AIGlkPSJMYXllcl8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhs%0D%0AaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIKCSB3aWR0%0D%0AaD0iMzkwcHgiIGhlaWdodD0iNTBweCIgdmlld0JveD0iMCAwIDM5MCA1MCIgZW5hYmxlLWJhY2tn%0D%0Acm91bmQ9Im5ldyAwIDAgMzkwIDUwIiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPHBhdGggZmlsbD0i%0D%0Abm9uZSIgc3Ryb2tlPSIjZDk0ZjVjIiBzdHJva2Utd2lkdGg9IjEuNSIgc3Ryb2tlLW1pdGVybGlt%0D%0AaXQ9IjEwIiBkPSJNMCw0Ny41ODVjMCwwLDk3LjUsMCwxMzAsMAoJYzEzLjc1LDAsMjguNzQtMzgu%0D%0ANzc4LDQ2LjE2OC0xOS40MTZDMTkyLjY2OSw0Ni41LDI0My42MDMsNDcuNTg1LDI2MCw0Ny41ODVj%0D%0AMzEuODIxLDAsMTMwLDAsMTMwLDAiLz4KPC9zdmc+Cg==");
    animation: line 1s;
    color: #d94f5c;
}
@keyframes line {
    0% {
            background-position: 400px;
    }
}
.projects .projects-grid-view{
/*  border: 1px solid red;*/
    width: 85%;
    margin: 30px auto;
    margin-top: 0px;
}
.projects h3{
    text-underline-position: below;
    text-decoration: underline;
}
.projects h3, li, p{
    font-family: "Poppins", sans-serif;
    color: #757575;
    font-weight: 300;
}
.projects p{
    font-size: 14px;
    line-height: 26px;
}
.projects ul{
    list-style-type: none;
}
.projects .is-checked{
    color: #d94f5c;
}
.projects .projects-nav ul{
    display:flex;
    flex-direction: row;
    padding-left: 15px;
}
.projects .projects-nav li{
    padding-right: 15px;
    cursor: pointer;
}
.projects .projects-grid {
    max-width: 100%;
}
.projects .projects-grid:after {
    content: '';
    display: block;
    clear: both;
}
.projects .projects-grid-sizer,
.projects .projects-grid-item{
    width: 25%;
    float: left;
}
.projects .projects-item-wrapper{
    border-radius: 32px;
    background: white;
    margin: 15px;
    transition: all 0.8s ease;
    transform: all 0.8s ease;
}
.projects .projects-item-wrapper:hover{
    transform: scale(1.05);
    box-shadow: 2px 2px 10px 0px rgba(153, 153, 153);
}
.projects .projects-image-container{
    border-top-left-radius: 32px;
    border-top-right-radius: 32px;
    background: #696969;
    width: 100%;
    height: 150px;
    max-height: 150px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-bottom: 3px solid #B8B8B8;
}
.projects .projects-content{
    margin-top: -15px;
    font-size: 12px;
    padding: 15px;
    height: 125px;
}

#modal-1 {
    display: flex;
/*    align-items: center;*/
    padding-top: 175px;
    justify-content: center;
    position: absolute;
    top: -50px;
    left: 0; 
    width: 100%;
    height: 110%;
    overflow: hidden;
    background: rgba(0,0,0,0.25);  
    opacity: 0;
    visibility: hidden;
}
#modal-dialog {
    width: 80vmin;    /* Actual Box Size */
    height: 70vmin;  /* Width && Height */
    position: absolute;
    overflow: hidden;
    border-radius: 32px;
}
#modal-polygon {
    fill: url(#polygon-gradient);
    position: absolute;
/*    box-shadow: 5px 5px 10px 5px white;*/
}
#modal-content {
  position: absolute;
  top: 0;
  left: 0;
/*  padding: 14px;  */
  visibility: hidden;
  opacity: 0;  
  color: rgba(255,255,255,0.87);
}
#modal-content a, #modal-content p, #modal-content h2 {
    padding-left: 24px;
    padding-right: 24px;
    font-family: 'Playfair Display', sans-serif;
    text-decoration: underline;
}
#modal-content p{
    height: 200px;
    color: black;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
}

/** skills section styling **/
.skills .title::after{
    content: "what i know";
}
.skills .skills-content .column{
    width: calc(50% - 30px);
}
.skills .skills-content .left .text{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}
.skills .skills-content .left p{
    text-align: justify;
}
.skills .skills-content .left a{
    display: inline-block;
    background: crimson;
    color: white;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 16px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid crimson;
    transition: all 0.3s ease;
}
.skills .skills-content .left a:hover{
    color: crimson;
    background: none;
}
.skills .skills-content .right .bars{
    margin-bottom: 15px;
}
.skills .skills-content .right .info{
    display: flex;
    margin-bottom: 5px;
    align-items: center;
    justify-content: space-between;
}
.skills .skills-content .right span{
    font-weight: 500;
    font-size: 18px;
}
.skills .skills-content .right .line{
    height: 5px;
    width: 100%;
    background: lightgray;
    position: relative;
    border-radius: 12px;
}
.skills .skills-content .right .line::before{
    content: "";
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    background: crimson;
}
.skills-content .right .data-science::before{
    width: 80%;
    border-radius: 12px;
}
.skills-content .right .mobile::before{
    width: 92%;
    border-radius: 12px;
}
.skills-content .right .front-end::before{
    width: 72%;
    border-radius: 12px;
}
.skills-content .right .back-end::before{
    width: 62%;
    border-radius: 12px;
}
.skills-content .right .desktop::before{
    width: 80%;
    border-radius: 12px;
}
.skills-content .tooltip-box:hover .tooltip-span {
    display: inline-block;
    font-size: 12px;
    font-weight: 600;
}
.skills-content .tooltip-span {
    border-radius: 6px;
    display: none;
    background: #222;
    color: #b3b3b3;
    margin-left: 20px;
    padding: 10px;
    position: absolute;
    z-index: 500;
}

/** online-courses section styling **/
.online-courses .online-courses-content .card{
    width: calc(25% - 20px);
    background: #222;
    text-align: center;
    border-radius: 6px;
    padding: 15px 20px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.online-courses .online-courses-content .card:hover{
    box-shadow: 2px 2px 10px 1px rgb(255, 255, 255, 0.2);
    background: crimson;
}
.online-courses .online-courses-content .card .box{
    transition: all 0.3s ease;
}
.online-courses .online-courses-content .card:hover .box{
    transform: scale(1.05);
}
.online-courses .online-courses-content .card img{
    height: 35px;
    vertical-align: middle;
}
.online-courses .online-courses-content .card .text{
    width: 50%;
    font-size: 30px;
    font-weight: 600;
    vertical-align: middle;
    margin: 5px 0 5px 15px;
    display: inline-block;
}
.online-courses .title::after{
    content: "that i completed";
}
.collapsible-container{
    width: 95%;
    margin-left: 65px;
}
.cc-content {
    width: calc(90% - 20px);
    margin-left: 23px;
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    background-color: #141c3a;
    box-shadow: 1px 1px 15px 1px rgb(255, 255, 255, 0.11);
    opacity: 0;
    border-radius: 12px;
    box-sizing: inherit;
    transition: max-height 1.0s ease, opacity 0.75s ease;
}
.cc-first{
    margin-top: 36px;
}
#cc-p{
    color: white;   
}
.numberlist{
    margin-bottom: 25px;
}
.numberlist li {
    margin: 15px;
    font: 200 13px/1.5 Helvetica, Verdana, sans-serif;
}
.numberlist li a {
    text-decoration: none;
    color: #d9d9d9;
    transition: all 0.3s ease;
    display: block;
    width: 93%;
    margin-left: 35px;
    
}
.numberlist li a:hover {
    font-size: 20px;
    text-decoration: underline;
    background: #212e5f;
    width: 100%;
    margin-left: 10px;
    box-shadow: 2px 2px 35px 2px rgb(255, 255, 255, 0.05);
}
.numberlist ol{
    counter-reset: li;
    list-style: none;
    font: 15px 'trebuchet MS', 'lucida sans';
}
.numberlist a{ /** the item **/
    position: relative;
    display: block;
    padding: .2em .0em .2em 2em;
    margin: .5em 0;
    background: #1a254c;
    text-decoration: none;
    border-radius: 6px;
    box-shadow: 1px 1px 15px 0 rgb(255, 255, 255, 0.05);
}
.numberlist a:before{ /** the circle **/
    content: counter(li);
    counter-increment: li;
    position: absolute;	
    left: -1.3em;
    top: 50%;
    margin-top: -1.3em;
    background: #8FBC8B;
    height: 2em;
    width: 2em;
    line-height: 2em;
    border: .3em solid #141c3a;
    text-align: center;
    font-weight: bold;
    border-radius: 2em;
    color: #000;
}
.numberlist a:hover:before{
    background: #80ffd4;
}

/** contact section styling **/
.center {
    display: block;
    text-align: center;
    margin-left: 80px;
    margin-right: 80px;
    width: calc(100% - (80px * 2));
}
.contact .title::after{
    content: "get in touch";
}
.contact-content {
     text-align: left;
}
.contact .contact-content .column{
    height: 510px;
    width: calc(50% - 90px);
/*    border: 3px solid black;*/
}
.contact .contact-content .text{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
   
}
.contact .contact-content .down-side .text{
    margin-top: 15px;
    margin-bottom: 0px;
    
}
.contact .contact-content .left p{
    text-align: justify;
}
.contact .contact-content .left .icons{
    margin: 10px 0;
}
.contact .contact-content .social-media-ref .row-social{
    margin-top: 10px;
}
.contact .contact-content .row{
    display: flex;
    height: 65px;
    align-items: center;
}
.contact .contact-content .row .info{
    margin-left: 30px;
}
.contact .contact-content .row img{
    height: 25px;
    width: 25px;
}
.contact .contact-content .row-social{
    display: flex;
    padding: 6px;
    align-items: center;
}
.contact .contact-content .row-social .info{
    margin-left: 25px;
}
.contact .contact-content .row-social img{
    height: 30px;
    width: 30px;
}
.contact .contact-content .info .head{
    font-weight: 500;
}
.contact .contact-content .info .sub-title{
    color: #333;
}
#contact-middle-stamp{
    max-height: 300px;
    height: 285px;
}
/* Pre Flip Screen */
.contact .contact-content .right .form-card-container {
    width: 400px;
    height: 500px;
    margin-top: -20px;
    padding-left: 15%;
    perspective: 400px;
}
.contact .contact-content .right .shadow {
  position: absolute;
  width: calc(400px - 2px);
  height: calc(100% - 2px);
  background-color: #777;
  box-shadow: inset 0 0 10px 8px rgba(0,0,0,0.3);
}
.contact .contact-content .right .shadow.shadow--flipping::before,
.contact .contact-content .right .shadow.shadow--flipping::after {
  content: '';
  width: 100%;
  height: 225px;
  animation: shadow 650ms 150ms ease-in-out;
}
.contact .contact-content .right .form-card {
    display: relative;
    width: 400px;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 1000ms;
    transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.contact .contact-content .right .form-card.form-card--flipped {
  transform: rotateX(-180deg);
}
.contact .contact-content .right .form-card__front {
  position: absolute;
  width: 400px;
  height: 100%;
  padding-left: 25px;
  padding-right: 25px;
  background-color: white;
  backface-visibility: hidden;
}
.contact .contact-content .right .form-card__front .form__swap-link{
    color: black;
    cursor: pointer;
    float: none;
    display: inline-block;
    text-align: center;
    margin-top: 50%;
    margin-left: 15%;
    margin-right: 15%;
    padding: 16px;
    border: 2.5px solid black;
    border-radius: 6px;
}
.contact .contact-content .right form {
  padding: 20px 0;
}
#flip-hover{
    width: 65%;
    height: 22%;
}
#flip-hover:hover{
    width: 65%;
    height: 22%;
    background-image: url('images/make_it_easy.jpg');
    background-size: 100% 100%;
}
#flip-hover > #contact-fron-text{
    width: 50%;
    transition: all 1.25s ease;
}
#flip-hover:hover > #contact-fron-text{
    width: 50%;
    position: absolute;
    display: flex;
    font-weight: 700;
    color: #000099;
    transform: translateY(-100px);
}
@keyframes shadow {
  0% {
    background-color: rgba(176,192,204,0);
    filter: blur(0);
  }
  5% {
    background-color: rgba(176,192,204,0);
    filter: blur(0);
  }
  40% {
    background-color: rgba(176,192,204,0.4);
    filter: blur(40px);
  }
  50% {
    background-color: rgba(176,192,204,0.5);
    filter: blur(50px);
  }
  65% {
    background-color: rgba(176,192,204,0.3);
    filter: blur(40px);
  }
  95% {
    background-color: rgba(176,192,204,0);
    filter: blur(0);
  }
  100% {
    background-color: rgba(176,192,204,0);
    filter: blur(0);
  }
}
/* Post Flip Screen */
.contact .contact-content .right .form-card__back {
    transform: rotateX(180deg);
    position: absolute;
    width: 400px;
    height: 100%;
    padding-left: 25px;
    padding-right: 25px;
    background-color: white;
    backface-visibility: hidden;
}
.contact .contact-content .right .form-row span {
  position: relative;
  display: flex;
  margin-bottom: 15px;
}
.contact .contact-content .right #submit {
  background: #72A08B;
  color: #fff;
  font-size: 1em;
  width: 100%;
  padding: 10px 40px;
  border: none;
  outline: 0;  
  transition: all .3s ease-in-out;
}
.contact .contact-content .right #submit:hover {
  background: #0BA393;
}
.contact .contact-content .right .slider {
  display: inline-block;
  width: 100%;
  padding: 10px;
  font-size: 1em;
  color: #1d1d1d;
  background: #9EE69F;
  border: none;
  outline: 0;
  text-indent: 60px;
  transition: all .3s ease-in-out;
}
#name, #email, #phone{
    padding-left: 20px;
}
.contact .contact-content .right #msg {
  width: 100%;
  height: 125px;
  padding-top: 26px;
  resize: none;
}
.contact .contact-content .right #msg + label {
  top: 20px;
}
.contact .contact-content .right .slider + label {
  display: inline-block;
  position: absolute;
  margin-top: -23px;
  top: 50%;
  left: 0;
  min-width: 80px;
  min-height: 36px;
  padding: 7px 10px;
  color: #0BA393;
  transition: all .3s ease-in-out;
  background: rgba(219,106,160, 0);
}
.contact .contact-content .right .slider + label:after {
  position: absolute;
  content: "";
  top: 50%;
  right: -18px;
  margin-top: -9px;
  border: 10px solid transparent; /*  For te label shape  */
  border-left: 10px solid rgba(11,163,147, 0);
  transition: all .3s ease-in-out;
}
.contact .contact-content .right .slider:focus,
.contact .contact-content .right .slider:active {
  color: #1d1d1d;
  text-indent: 0;
  background: #9EE69F;
}
.contact .contact-content .right .slider:focus + label,
.contact .contact-content .right .slider:active + label {
  color: #fff;
  background: #0BA393;
  transform: translateX(-80px) translateY(4px);
}
.contact .contact-content .right #msg:focus + label,
.contact .contact-content .right #msg:active + label {
  color: #fff;
  background: #0BA393;
  transform: translateX(-93px) translateY(3px);
}
.contact .contact-content .right .slider:focus + label:after,
.contact .contact-content .right .slider:active + label:after {
  border-left: 9px solid #0BA393;
}
#checkbox-info{
    text-align: left;
    font-size: 13px;
    opacity: 0.75;
}
#checkbox-label{
    opacity: 0.85;
    font-size: 14px;
}
#span-checkbox{
    display: block;
    margin-left: 5px;
    padding-left: 1px;
    padding-right: 1px;
}
/* X button */
.contact .contact-content .right .outer {
  margin-top: 2px;
  position: absolute;
  left: calc(100% - 30px);
  width: 30px;
  cursor: pointer;
  z-index: 2;
}
.contact .contact-content .right .inner {
  width: inherit;
  text-align: center;
}
.contact .contact-content .right .inner label { 
  font-size: .8em; 
  line-height: 3em;
  color: red;
  transition: all .3s ease-in;
  opacity: 0;
  cursor: pointer;
}
.contact .contact-content .right .inner:before, .inner:after {
  position: absolute;
  content: '';
  height: 2px;
  width: inherit;
  background: #FFC107;  /*  X color  */
  left: 0;
  transition: all .3s ease-in;
}
.contact .contact-content .right .inner:before {
  top: 47%; 
  transform: rotate(45deg);  
}
.contact .contact-content .right .inner:after {  
  bottom: 50%;
  transform: rotate(-45deg);  
}
.contact .contact-content .right .outer:hover label {
  opacity: 1;
}
.contact .contact-content .right .outer:hover .inner:before,
.contact .contact-content .right .outer:hover .inner:after {
  transform: rotate(0);
}
.contact .contact-content .right .outer:hover .inner:before {
  top: 0;
}
.contact .contact-content .right .outer:hover .inner:after {
  bottom: 0;
}
.contact .contact-content .right .outer-container-position{
  margin-top: 20px;
  position: relative;
}

/** footer section styling **/
footer{
    background: #111;
    padding: 20px;
    color: white;
}
footer span a{
    color: crimson;
    text-decoration: none;
}
footer span a:hover{
    text-decoration: underline;
}

/*   Angled div -> add an id of                  */
/*  'slanted-div-up-about' for about             */
#slanted-div-about {
    position: relative;
    padding-top: 105px;
    padding-bottom: 100px;
    background: white;
    overflow: visible;
    z-index: 1;
}
#slanted-div-about:after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background: inherit;
    z-index: -1;
    bottom: 0;
    transform-origin: left bottom;
    transform: skewY(3deg);
}
/*  'slanted-div-up-projects' for projects             */
#slanted-div-projects {
    position: relative;
    padding-top: 100px;
    padding-bottom: 75px;
    background: #222;
    overflow: visible;
    z-index: 1;
}
#slanted-div-projects:before, #slanted-div-projects:after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background: inherit;
    z-index: -1;
    top: 0;
    transform-origin: left top;
    transform: skewY(-3deg);
}
#slanted-div-projects:after {
    bottom: 0;
    transform-origin: left bottom;
    transform: skewY(3deg);
}
/*  'slanted-div-up-occ' for online-courses       */
#slanted-div-occ {
    position: relative;
    padding-top: 105px;
    padding-bottom: 130px;
    background: #111;
    overflow: visible;
    z-index: 1;
}
#slanted-div-occ:before, #slanted-div-occ:after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background: inherit;
    z-index: -1;
    top: 0;
    transform-origin: left top;
    transform: skewY(-3deg);
}
#slanted-div-occ:after {
    bottom: 0;
    transform-origin: left bottom;
    transform: skewY(3deg);
}

/** responsive media query start **/
@media (max-width: 1300px){
    .home .max-width{
        margin-left: 0px;
    }
}
@media (max-width: 1114px){
    .about .about-content .left img{
        height: 350px;
        width: 350px;
    }
}
@media (max-width: 995px){
    .max-width{
        padding: 0 50px;
    }
}
@media (max-width: 950px){
    .menu-btn{
        display: block;
        z-index: 999;
    }
    .menu-btn img{
        src: url("images/menu_btn_white.png");
        max-width: 23px;
        max-height: 23px;
    }
    .navbar .menu{
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: #111;
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
    }
    .navbar .menu.active{
        left: 0;
    }
    .navbar .menu li{
        display: block;
    }
    .navbar .menu li a{
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
        
    }
    .home .home-content .text-2{
        font-size: 70px;
    }
    .home. home-content .text-3{
        font-size: 35px;
    }
    .home .home-content a{
        font-size: 23px;
        padding: 10px 30px;
    }
    .max-width{
        max-width: 800px;
    }
    .about .about-content .column{
        width: 100%;
    }
    .about .about-content .left{
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }
    .about .about-content .right{
        flex: 100%;
    }
    .services .services-content .card{
        width: calc(50% - 10px);
        margin-bottom: 20px;
    }
    .skills .skills-content .column,
    .contact .contact-content .column{
        width: 100%;
        margin-bottom: 35px;
    }
}
@media (max-width: 690px){
    .max-width{
        padding: 0 25px;
    }
    .home .home-content .text-2{
        font-size: 60px;
    }
    .home .home-content .text-3{
        font-size: 25px;
    }
    .home .home-content a{
        font-size: 20px;
    }
    .services .services-content .card{
        width: 100%;
    }
}
@media (max-width: 500px){
    .home .home-content .text-2{
        font-size: 40px;
    }
    .home .home-content .text-3{
        font-size: 20px;
    }
}
@media all and (min-width: 769px) and (max-width: 980px) {
    .projects .projects-grid-item{
        width: 50%;
    }
}
@media (max-width: 768px) {
    .projects .projects-grid-item{
        width: 100%;
    }
}

































