@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;0,700;1,400&family=Ubuntu:wght@400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
.max-width{
    max-width: 1470px;
    padding: 0 80px;
    margin: auto;
}
html{
    scroll-behavior: smooth;
}
::-webkit-scrollbar {
    width: 7px;
}
::-webkit-scrollbar-track {
    background: black;
    border-radius: 2px;
    box-shadow: 5px 5px 10px #ccc insert, -5px -5px 10px white insert;
}
::-webkit-scrollbar-thumb {
    background: #e6f6e6;
    border-radius: 2px;
/*    border-left: 1px solid black;*/
    border-right: 1px solid black;
}
::-webkit-scrollbar-thumb:hover {
    background: #a2b7b0;
}

/** navbar styling **/
.navbar{
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 30px 0;
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.3s ease;
}
.navbar.sticky{
    padding: 15px 0;
    background: crimson;
}
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a{
    color: white;
    font-size: 35px;
    font-weight: 600;
}
.navbar .logo a span{
    color: crimson;
    transition: all 0.3s ease;
}
.navbar.sticky .logo a span{
    color: white;
}
.navbar .menu li{
    list-style: none;
    display: inline-block;
}
.navbar .menu li a{
    display: block;
    color: white;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}
.navbar .menu li a:hover{
    color: crimson;
}
.navbar.sticky .menu li a:hover{
    color: white;
}

/** menu btn styling **/
.menu-btn{
    color: white;
    font-size: 23px;
    cursor: pointer;
    display: none;
}

/* Right Bottom Snackbar - icons notice */
#snackbar{
    min-width: 200px;
    min-height: 24px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 12px;
    background-color: #333;
    color: #fff;
    text-align: start;
    position: fixed;
    z-index: 1000;
    right: 15px;
    bottom: 15px;
    font-size: 14px;
    font-family: sans-serif;
    border-radius: 6px;
    visibility: hidden;
}
#snackbar.show{
    visibility: visible;
    animation: fadein-rb 1s;
    animation-fill-mode: forwards;
}
#snackbar.bye{
    visibility: visible;
    animation: fadeout-rb 0.5s;
    animation-fill-mode: forwards;
}
@keyframes fadein-rb{
    0%{
        right: -250px;
        bottom: -250px;
        opacity: 0;
    }
    50%{
        right: 60px;
        bottom: 60px;
        opacity: 1;
    }
    100%{
        right: 15px;
        bottom: 15px;
        opacity: 1;
    }
}
@keyframes fadeout-rb{
    from{
        right: 15px;
        bottom: 15px;
        opacity: 1;
    }
    to{
        right: -250px;
        bottom: -250px;
        opacity: 0;
    }
}

/** scroll up btn styling **/
.scroll-up-btn{
    position: fixed;
    height: 40px;
    width: 40px;
    background: crimson;
    text-align: center;
    align-items: center;
    right: 30px;
    bottom: 10px;
    line-height: 45px;
    color: white;
    z-index: 999;
    border-radius: 6px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}
.scroll-up-btn.show{
    bottom: 30px;
    opacity: 1;
    pointer-events: auto;
}
.scroll-up-btn img{
    width: 55%;
}

/** home section styling **/
.home{
    display: flex;
    background: url("images/banner_me.jpg") no-repeat center;
    height: 100vh;
    min-height: 500px;
    color: white;
    font-family: 'Ubuntu', sans-serif;
}
.home .max-width{
    margin: auto 0 auto 40px;
}
.home .home-content .text-1{
    font-size: 27px;
}
.home .home-content .text-2{
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
}
.home .home-content .text-3{
    font-size: 40px;
    margin: 5px 0;
}
.home .home-content .text-3 .typing{
    color: crimson;
    font-weight: 500;
}
.home .home-content a{
    display: inline-block;
    background: crimson;
    color: white;
    font-size: 25px;
    padding: 12px 36px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid crimson;
    transition: all 0.3s ease;
}
.home .home-content a:hover{
    color: crimson;
    background: none;
}

/** rubberBand effect styling **/
.rubber-band{
    display: flex;
}
.band-hover{
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-iteration-count: 1;   
}
.band-hover:hover{
    color: blueviolet;
    animation-name: rubberBand;
}
@keyframes rubberBand {
    from {
        transform: scale3d(1, 1, 1);
    }
    30% {
        transform: scale3d(1.25, 0.75, 1);
    }
    40% {
        transform: scale3d(0.75, 1.25, 1);
    }
    50% {
        transform: scale3d(1.15, 0.85, 1);
    }
    65% {
        transform: scale3d(0.95, 1.05, 1);
    }
    75% {
        transform: scale3d(1.05, 0.95, 1);
    }
    to {
        transform: scale3d(1, 1, 1);
    }
}
.rubberBand {
    -webkit-animation-name: rubberBand;
    animation-name: rubberBand;
}

/** general section styling **/
section{
    padding: 100px 0;
}
section .title{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
}
section .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 200px;
    height: 3px;
    background: #111;
    transform: translateX(-50%);
}
section .title::after{
    position: absolute;
    bottom: -13px;
    left: 50%;
    font-size: 20px;
    color: crimson;
    padding: 5px;
    background: white;
    transform: translateX(-50%);
}

/** mutual styling **/
.about, .services, online-courses, .skills, .projects, .contact, footer{
    font-family: 'Poppins', sans-serif;
}
.about .about-content, 
.services .services-content,
.online-courses .online-courses-content,
.skills .skills-content,
.contact, .contact-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.services, .online-courses, .projects{
    color: white;
    background: #111;
}
.services .title::before, 
.online-courses .title::before, 
.projects .title::before{
    background: white;
}
.services .title::after, 
.online-courses .title::after, 
.projects .title::after{
    background: #111;
}

/** about section styling **/
.about .title::after{
    content: "who i am";
}
.about .about-content .left{
    width: 45%;
}
.about .about-content .left img{
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 6px;
}
.about .about-content .right{
    width: 55%;
}
.about .about-content .right .text{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}
.about .about-content .right .text span{
    color: crimson;
}
.about .about-content .right p{
    text-align: justify;
}
.about .about-content .right a{
    display: inline-block;
    background: crimson;
    color: white;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid crimson;
    transition: all 0.3s ease;
}
.about .about-content .right a:hover{
    color: crimson;
    background: none;
}

/** projects section styling **/
.projects .title{
    margin-bottom: 40px;
}
.projects .title::after{
    background: #222;
    content: "what i've done";
}
.projects-filter-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    list-style: none;
}
.projects-filter-nav li {
    width: 125px;
    height: 50px;
    transition: background-position 0.9s linear;
    text-align: center;
    font-size: 22px;
    color: #777;
    text-decoration: none;
    transition: all 0.45s;
}
.projects-filter-nav li:hover {
    background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPHN2ZyB2ZXJzaW9uPSIxLjEi%0D%0AIGlkPSJMYXllcl8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhs%0D%0AaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIKCSB3aWR0%0D%0AaD0iMzkwcHgiIGhlaWdodD0iNTBweCIgdmlld0JveD0iMCAwIDM5MCA1MCIgZW5hYmxlLWJhY2tn%0D%0Acm91bmQ9Im5ldyAwIDAgMzkwIDUwIiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPHBhdGggZmlsbD0i%0D%0Abm9uZSIgc3Ryb2tlPSIjZDk0ZjVjIiBzdHJva2Utd2lkdGg9IjEuNSIgc3Ryb2tlLW1pdGVybGlt%0D%0AaXQ9IjEwIiBkPSJNMCw0Ny41ODVjMCwwLDk3LjUsMCwxMzAsMAoJYzEzLjc1LDAsMjguNzQtMzgu%0D%0ANzc4LDQ2LjE2OC0xOS40MTZDMTkyLjY2OSw0Ni41LDI0My42MDMsNDcuNTg1LDI2MCw0Ny41ODVj%0D%0AMzEuODIxLDAsMTMwLDAsMTMwLDAiLz4KPC9zdmc+Cg==");
    animation: line 1s;
    color: #d94f5c;
}
@keyframes line {
    0% {
            background-position: 400px;
    }
}
.projects .projects-grid-view{
/*  border: 1px solid red;*/
    width: 85%;
    margin: 30px auto;
    margin-top: 0px;
}
.projects h3, li, p{
    font-family: "Poppins", sans-serif;
    color: #757575;
    font-weight: 300;
}
.projects p{
    font-size: 14px;
    line-height: 26px;
}
.projects ul{
    list-style-type: none;
}
.projects .is-checked{
    color: #d94f5c;
}
.projects .projects-nav ul{
    display:flex;
    flex-direction: row;
    padding-left: 15px;
}
.projects .projects-nav li{
    padding-right: 15px;
    cursor: pointer;
}
.projects .projects-grid {
    max-width: 100%;
}
.projects .projects-grid:after {
    content: '';
    display: block;
    clear: both;
}
.projects .projects-grid-sizer,
.projects .projects-grid-item{
    width: 25%;
    float: left;
}
.projects .projects-item-wrapper{
    border-radius: 32px;
    background: white;
    margin: 15px;
    transition: all 0.8s ease;
    transform: all 0.8s ease;
}
.projects .projects-item-wrapper:hover{
    transform: scale(1.05);
    box-shadow: 2px 2px 10px 0px rgba(153, 153, 153);
}
.projects .projects-image-container{
    border-top-left-radius: 32px;
    border-top-right-radius: 32px;
    width: 100%;
    height: 200px;
    max-height: 200px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.projects .projects-content{
    padding: 15px;
}

/** skills section styling **/
.skills .title::after{
    content: "what i know";
}
.skills .skills-content .column{
    width: calc(50% - 30px);
}
.skills .skills-content .left .text{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}
.skills .skills-content .left p{
    text-align: justify;
}
.skills .skills-content .left a{
    display: inline-block;
    background: crimson;
    color: white;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 16px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid crimson;
    transition: all 0.3s ease;
}
.skills .skills-content .left a:hover{
    color: crimson;
    background: none;
}
.skills .skills-content .right .bars{
    margin-bottom: 15px;
}
.skills .skills-content .right .info{
    display: flex;
    margin-bottom: 5px;
    align-items: center;
    justify-content: space-between;
}
.skills .skills-content .right span{
    font-weight: 500;
    font-size: 18px;
}
.skills .skills-content .right .line{
    height: 5px;
    width: 100%;
    background: lightgray;
    position: relative;
}
.skills .skills-content .right .line::before{
    content: "";
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    background: crimson;
}
.skills-content .right .data-science::before{
    width: 80%;
}
.skills-content .right .mobile::before{
    width: 92%;
}
.skills-content .right .front-end::before{
    width: 72%;
}
.skills-content .right .back-end::before{
    width: 62%;
}
.skills-content .right .desktop::before{
    width: 80%;
}
.skills-content .tooltip-box:hover .tooltip-span {
    display: inline-block;
    font-size: 12px;
    font-weight: 600;
}
.skills-content .tooltip-span {
    border-radius: 6px;
    display: none;
    background: #222;
    color: #b3b3b3;
    margin-left: 20px;
    padding: 10px;
    position: absolute;
    z-index: 500;
}

/** online-courses section styling **/
.online-courses .online-courses-content .card{
    width: calc(25% - 20px);
    background: #222;
    text-align: center;
    border-radius: 6px;
    padding: 15px 20px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.online-courses .online-courses-content .card:hover{
    box-shadow: 2px 2px 10px 1px rgb(255, 255, 255, 0.2);
    background: crimson;
}
.online-courses .online-courses-content .card .box{
    transition: all 0.3s ease;
}
.online-courses .online-courses-content .card:hover .box{
    transform: scale(1.05);
}
.online-courses .online-courses-content .card img{
    height: 35px;
    vertical-align: middle;
}
.online-courses .online-courses-content .card .text{
    width: 50%;
    font-size: 30px;
    font-weight: 600;
    vertical-align: middle;
    margin: 5px 0 5px 15px;
    display: inline-block;
}
.online-courses .title::after{
    content: "that i completed";
}
.collapsible-container{
    width: 95%;
}
.cc-content {
    width: calc(90% - 20px);
    margin-left: 23px;
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    background-color: #141c3a;
    box-shadow: 1px 1px 15px 1px rgb(255, 255, 255, 0.11);
    opacity: 0;
    border-radius: 12px;
    box-sizing: inherit;
    transition: max-height 1.0s ease, opacity 0.75s ease;
}
.cc-first{
    margin-top: 36px;
}
#cc-p{
    color: white;   
}
.numberlist{
    margin-bottom: 25px;
}
.numberlist li {
    margin: 15px;
    font: 200 13px/1.5 Helvetica, Verdana, sans-serif;
}
.numberlist li a {
    text-decoration: none;
    color: #d9d9d9;
    transition: all 0.3s ease;
    display: block;
    width: 93%;
    margin-left: 35px;
    
}
.numberlist li a:hover {
    font-size: 20px;
    text-decoration: underline;
    background: #212e5f;
    width: 100%;
    margin-left: 10px;
    box-shadow: 2px 2px 35px 2px rgb(255, 255, 255, 0.05);
}
.numberlist ol{
    counter-reset: li;
    list-style: none;
    font: 15px 'trebuchet MS', 'lucida sans';
}
.numberlist a{ /** the item **/
    position: relative;
    display: block;
    padding: .2em .0em .2em 2em;
    margin: .5em 0;
    background: #1a254c;
    text-decoration: none;
    border-radius: 6px;
    box-shadow: 1px 1px 15px 0 rgb(255, 255, 255, 0.05);
}
.numberlist a:before{ /** the circle **/
    content: counter(li);
    counter-increment: li;
    position: absolute;	
    left: -1.3em;
    top: 50%;
    margin-top: -1.3em;
    background: #8FBC8B;
    height: 2em;
    width: 2em;
    line-height: 2em;
    border: .3em solid #141c3a;
    text-align: center;
    font-weight: bold;
    border-radius: 2em;
    color: #000;
}
.numberlist a:hover:before{
    background: #80ffd4;
}

/** contact section styling **/
.contact .title::after{
    content: "get in touch";
}
.contact .contact-content .column{
    height: 350px;
    width: calc(50% - 30px);
/*    border: 3px solid black;*/
}
.contact .contact-content .text{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}
.contact .contact-content .left p{
    text-align: justify;
}
.contact .contact-content .left .icons{
    margin: 10px 0;
}
.contact .contact-content .social-media-ref{
    margin-top: 20px;
}
.contact .contact-content .social-media-ref .row-social{
    margin-top: 10px;
}
.contact .contact-content .row{
    display: flex;
    height: 65px;
    align-items: center;
}
.contact .contact-content .row .info{
    margin-left: 30px;
}
.contact .contact-content .row img{
    height: 25px;
    width: 25px;
}
.contact .contact-content .row-social{
    display: flex;
    height: 65px;
    align-items: center;
}
.contact .contact-content .row-social .info{
    margin-left: 25px;
}
.contact .contact-content .row-social img{
    height: 32px;
    width: 32px;
}
.contact .contact-content .info .head{
    font-weight: 500;
}
.contact .contact-content .info .sub-title{
    color: #333;
}

/* contact Form related - not working as of yet */
.contact .right2 form .fields{
    display: flex;
}
.contact .right2 form .field,
.contact .right2 form .fields .field{
    height: 45px;
    width: 100%;
    margin-bottom: 15px;
}
.contact .right2 form .textarea{
    height: 80px;
    width: 100%;
}
.contact .right2 form .name{
    margin-right: 10px;
}
.contact .right2 form .email{
    margin-left: 10px;
}
.contact .right2 form .field input,
.contact .right2 form .textarea textarea{
    height: 100%;
    width: 100%;
    border: 1px solid lightgray;
    border-radius: 6px;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
}
.contact .right2 form .textarea textarea{
    padding-top: 10px;
    resize: none;
}
.contact .right2 form .button{
    height: 47px;
    width: 170px;;
}
.contact .right2 form .button button{
    height: 100%;
    width: 100%;
    border: 2px solid crimson;
    border-radius: 6px;
    background: crimson;
    color: white;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
}
.contact .right2 form .button button:hover{
    color: crimson;
    background: none;
}

/** footer section styling **/
footer{
    background: #111;
    padding: 20px;
    color: white;
}
footer span a{
    color: crimson;
    text-decoration: none;
}
footer span a:hover{
    text-decoration: underline;
}

/*   Angled div -> add an id of                  */
/*  'slanted-div-up-about' for about             */
#slanted-div-about {
    position: relative;
    padding-top: 105px;
    padding-bottom: 100px;
    background: white;
    overflow: visible;
    z-index: 1;
}
#slanted-div-about:after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background: inherit;
    z-index: -1;
    bottom: 0;
    transform-origin: left bottom;
    transform: skewY(3deg);
}
/*  'slanted-div-up-projects' for projects             */
#slanted-div-projects {
    position: relative;
    padding-top: 100px;
    padding-bottom: 75px;
    background: #222;
    overflow: visible;
    z-index: 1;
}
#slanted-div-projects:before, #slanted-div-projects:after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background: inherit;
    z-index: -1;
    top: 0;
    transform-origin: left top;
    transform: skewY(-3deg);
}
#slanted-div-projects:after {
    bottom: 0;
    transform-origin: left bottom;
    transform: skewY(3deg);
}
/*  'slanted-div-up-occ' for online-courses       */
#slanted-div-occ {
    position: relative;
    padding-top: 105px;
    padding-bottom: 115px;
    margin-bottom: 20px;
    background: #111;
    overflow: visible;
    z-index: 1;
}
#slanted-div-occ:before, #slanted-div-occ:after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background: inherit;
    z-index: -1;
    top: 0;
    transform-origin: left top;
    transform: skewY(-3deg);
}
#slanted-div-occ:after {
    bottom: 0;
    transform-origin: left bottom;
    transform: skewY(3deg);
}

/** responsive media query start **/
@media (max-width: 1300px){
    .home .max-width{
        margin-left: 0px;
    }
}
@media (max-width: 1114px){
    .about .about-content .left img{
        height: 350px;
        width: 350px;
    }
}
@media (max-width: 995px){
    .max-width{
        padding: 0 50px;
    }
}
@media (max-width: 950px){
    .menu-btn{
        display: block;
        z-index: 999;
    }
    .menu-btn img{
        src: url("images/menu_btn_white.png");
        max-width: 23px;
        max-height: 23px;
    }
    .navbar .menu{
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: #111;
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
    }
    .navbar .menu.active{
        left: 0;
    }
    .navbar .menu li{
        display: block;
    }
    .navbar .menu li a{
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
        
    }
    .home .home-content .text-2{
        font-size: 70px;
    }
    .home. home-content .text-3{
        font-size: 35px;
    }
    .home .home-content a{
        font-size: 23px;
        padding: 10px 30px;
    }
    .max-width{
        max-width: 800px;
    }
    .about .about-content .column{
        width: 100%;
    }
    .about .about-content .left{
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }
    .about .about-content .right{
        flex: 100%;
    }
    .services .services-content .card{
        width: calc(50% - 10px);
        margin-bottom: 20px;
    }
    .skills .skills-content .column,
    .contact .contact-content .column{
        width: 100%;
        margin-bottom: 35px;
    }
}
@media (max-width: 690px){
    .max-width{
        padding: 0 25px;
    }
    .home .home-content .text-2{
        font-size: 60px;
    }
    .home .home-content .text-3{
        font-size: 25px;
    }
    .home .home-content a{
        font-size: 20px;
    }
    .services .services-content .card{
        width: 100%;
    }
}
@media (max-width: 500px){
    .home .home-content .text-2{
        font-size: 40px;
    }
    .home .home-content .text-3{
        font-size: 20px;
    }
}
@media all and (min-width: 769px) and (max-width: 980px) {
    .projects .projects-grid-item{
        width: 50%;
    }
}
@media (max-width: 768px) {
    .projects .projects-grid-item{
        width: 100%;
    }
}






/*
    Old Version stuff
*/
/*  CSS
 services section styling
.services .services-content .card{
    width: calc(33% - 20px);
    background: #222;
    text-align: center;
    border-radius: 6px;
    padding: 20px 25px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.services .services-content .card:hover{
    background: crimson;
}
.services .services-content .card .box{
    transition: all 0.3s ease;
}
.services .services-content .card:hover .box{
    transform: scale(1.05);
}
.services .services-content .card img{
    height: 50px;
    width: 50px;
}
.services .services-content .card .text{
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}
.services .title::after{
    content: "what i provide";
}
*/
/*
<!--      services section start         -->
    <section class="services" id="slanted-div-services">
        <div class="max-width">
            <h2 class="title">My services</h2>
            <div class="services-content">
                <div class="card">
                    <div class="box">
                        <img src="images/menu_btn_white.png">
                        <div class="text">Web Designer</div>
                        <p>In publishing and graphic design, Lorem ipsum is a placeholder text commonly used to demonstrate the visual form of a document or a typeface without relying on meaningful content. Lorem ipsum may be used as a placeholder before final copy is available.</p>
                    </div>
                </div>
                <div class="card">
                    <div class="box">
                        <img src="images/menu_btn_white_close.png">
                        <div class="text">Advertising</div>
                        <p>In publishing and graphic design, Lorem ipsum is a placeholder text commonly used to demonstrate the visual form of a document or a typeface without relying on meaningful content. Lorem ipsum may be used as a placeholder before final copy is available.</p>
                    </div>
                </div>
                <div class="card">
                    <div class="box">
                        <img src="images/menu_btn_white.png">
                        <div class="text">Apps Designer</div>
                        <p>In publishing and graphic design, Lorem ipsum is a placeholder text commonly used to demonstrate the visual form of a document or a typeface without relying on meaningful content. Lorem ipsum may be used as a placeholder before final copy is available.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
*/








